<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="scripts/libs/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="scripts/libs/jquery.ui.rotatable.js"></script>
    <script type="text/javascript" src="scripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="scripts/libs/angular-websocket.js"></script>
    <script type="text/javascript" src="scripts/libs/d3.min.js"></script>
    @Scripts.Render("~/bundles/scripts/main")
    @Styles.Render("~/bundles/styles/main")
    <link href="~/app/styles/font-awesome.min.css" rel="stylesheet" />
</head>
<body ng-app="wwxDemo">
    <main></main>
</body>
</html>
